In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("CricketTestMatchData.csv")

In [3]:
df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6
1,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
2,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
3,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23
62,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
63,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0
64,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+
65,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0

In [4]:
df  = df.rename(columns = {"Mat": "Matched_Played", "NO": "No_Outs", "HS": "Highest_Inns_Score", "BF": "Balls_Faced", "SR": "Batting_Strike_Rate"})

In [5]:
df.head()

,Player,Span,Matched_Played,Inns,No_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6
1,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
2,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
3,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1

In [6]:
df.isnull().any()

Player                 False
Span                   False
Matched_Played         False
Inns                   False
No_Outs                False
Runs                   False
Highest_Inns_Score     False
Ave                    False
Balls_Faced             True
Batting_Strike_Rate     True
100                    False
50                     False
0                      False
4s                     False
6s                     False
dtype: bool

In [7]:
df[df["Balls_Faced"].isna() == 1]

,Player,Span,Matched_Played,Inns,No_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
9,ED Weekes (WI),1948-1958,48,81,5,4455,207,58.61,NaN,NaN,15,19,6,258+,2
17,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,NaN,NaN,15,14,1,107+,11

In [8]:
df["Balls_Faced"] = df["Balls_Faced"].fillna(0)

In [9]:
df["Batting_Strike_Rate"] = df["Batting_Strike_Rate"].fillna(0)

In [10]:
df[df["Player"] == "ED Weekes (WI)"]

,Player,Span,Matched_Played,Inns,No_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
9,ED Weekes (WI),1948-1958,48,81,5,4455,207,58.61,0,0.0,15,19,6,258+,2

In [11]:
df[df["Player"] == "CL Walcott (WI)"]

,Player,Span,Matched_Played,Inns,No_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
17,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,0,0.0,15,14,1,107+,11

In [12]:
df.duplicated()

0     False
1     False
2     False
3     False
4      True
      ...
61    False
62    False
63    False
64    False
65    False
Length: 66, dtype: bool

In [13]:
df[df["Player"].duplicated() == 1]

,Player,Span,Matched_Played,Inns,No_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1
12,GS Sobers (WI),1954-1974,93,160,21,8032,365*,57.78,4063+,53.58,26,30,12,593+,32+
16,JB Hobbs (ENG),1908-1930,61,102,7,5410,211,56.94,5363+,46.22,15,28,4,276+,8
54,V Kohli (IND),2011-2024,113,191,11,8848,254*,49.15,15924,55.56,29,30,14,991,26

In [14]:
df[df["Player"].isin(["GA Headley (WI)", "GS Sobers (WI)", "JB Hobbs (ENG)", "V Kohli (IND)"])]

,Player,Span,Matched_Played,Inns,No_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
3,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1
11,GS Sobers (WI),1954-1974,93,160,21,8032,365*,57.78,4063+,53.58,26,30,12,593+,32+
12,GS Sobers (WI),1954-1974,93,160,21,8032,365*,57.78,4063+,53.58,26,30,12,593+,32+
15,JB Hobbs (ENG),1908-1930,61,102,7,5410,211,56.94,5363+,46.22,15,28,4,276+,8
16,JB Hobbs (ENG),1908-1930,61,102,7,5410,211,56.94,5363+,46.22,15,28,4,276+,8
53,V Kohli (IND),2011-2024,113,191,11,8848,254*,49.15,15924,55.56,29,30,14,991,26
54,V Kohli (IND),2011-2024,113,191,11,8848,254*,49.15,15924,55.56,29,30,14,991,26

In [15]:
df = df.drop_duplicates()

In [16]:
df[df["Player"].isin(["GA Headley (WI)", "GS Sobers (WI)", "JB Hobbs (ENG)", "V Kohli (IND)"])]

,Player,Span,Matched_Played,Inns,No_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
3,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1
11,GS Sobers (WI),1954-1974,93,160,21,8032,365*,57.78,4063+,53.58,26,30,12,593+,32+
15,JB Hobbs (ENG),1908-1930,61,102,7,5410,211,56.94,5363+,46.22,15,28,4,276+,8
53,V Kohli (IND),2011-2024,113,191,11,8848,254*,49.15,15924,55.56,29,30,14,991,26

In [17]:
df["Span"].str.split(pat = "-")

0     [1928, 1948]
1     [2015, 2016]
2     [1963, 1970]
3     [1930, 1954]
5     [1924, 1935]
          ...
61    [1965, 1981]
62    [2002, 2014]
63    [1924, 1934]
64    [1930, 1938]
65    [1928, 1934]
Name: Span, Length: 62, dtype: object

In [18]:
df["Rookie_Year"] = df["Span"].str.split(pat = "-").str[0]

In [19]:
df["Final_Year"] = df["Span"].str.split(pat = "-").str[1]

In [20]:
df

,Player,Span,Matched_Played,Inns,No_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6,1928,1948
1,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016
2,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970
3,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1,1930,1954
5,H Sutcliffe (ENG),1924-1935,54,84,9,4555,194,60.73,6558+,34.59,16,23,2,202+,6,1924,1935
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23,1965,1981
62,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014
63,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0,1924,1934
64,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+,1930,1938
65,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0,1928,1934

In [21]:
df = df.drop(["Span"], axis = 1)

In [22]:
df.head()

,Player,Matched_Played,Inns,No_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6,1928,1948
1,AC Voges (AUS),20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016
2,RG Pollock (SA),23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970
3,GA Headley (WI),22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1,1930,1954
5,H Sutcliffe (ENG),54,84,9,4555,194,60.73,6558+,34.59,16,23,2,202+,6,1924,1935

In [23]:
#the solution below is also a solution but not as straightfoward as the second solution

In [24]:
df["Player"].str.split("(").str[1].str.replace(")", "")

0        AUS
1        AUS
2         SA
3         WI
5        ENG
       ...
61       AUS
62    ICC/SA
63       AUS
64       AUS
65       ENG
Name: Player, Length: 62, dtype: object

In [25]:
df["Player"].str.extract(r"\((\w+)\)")

      0
0   AUS
1   AUS
2    SA
3    WI
5   ENG
..  ...
61  AUS
62  NaN
63  AUS
64  AUS
65  ENG

[62 rows x 1 columns]

In [26]:
df["Country_Or_State"] = df["Player"].str.extract(r"\((\w+)\)")

In [27]:
df

,Player,Matched_Played,Inns,No_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Country_Or_State
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6,1928,1948,AUS
1,AC Voges (AUS),20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
2,RG Pollock (SA),23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970,SA
3,GA Headley (WI),22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1,1930,1954,WI
5,H Sutcliffe (ENG),54,84,9,4555,194,60.73,6558+,34.59,16,23,2,202+,6,1924,1935,ENG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,KD Walters (AUS),74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23,1965,1981,AUS
62,GC Smith (ICC/SA),117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,NaN
63,WH Ponsford (AUS),29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0,1924,1934,AUS
64,SJ McCabe (AUS),39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+,1930,1938,AUS
65,DR Jardine (ENG),22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0,1928,1934,ENG

In [28]:
df.dtypes

Player                  object
Matched_Played           int64
Inns                     int64
No_Outs                  int64
Runs                     int64
Highest_Inns_Score      object
Ave                    float64
Balls_Faced             object
Batting_Strike_Rate    float64
100                      int64
50                       int64
0                        int64
4s                      object
6s                      object
Rookie_Year             object
Final_Year              object
Country_Or_State        object
dtype: object

In [29]:
df["Highest_Inns_Score"] = df["Highest_Inns_Score"].str.split(pat = "*").str[0]

In [30]:
df

,Player,Matched_Played,Inns,No_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Country_Or_State
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6,1928,1948,AUS
1,AC Voges (AUS),20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
2,RG Pollock (SA),23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970,SA
3,GA Headley (WI),22,40,4,2190,270,60.83,416+,56.00,10,5,2,104+,1,1930,1954,WI
5,H Sutcliffe (ENG),54,84,9,4555,194,60.73,6558+,34.59,16,23,2,202+,6,1924,1935,ENG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,KD Walters (AUS),74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23,1965,1981,AUS
62,GC Smith (ICC/SA),117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,NaN
63,WH Ponsford (AUS),29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0,1924,1934,AUS
64,SJ McCabe (AUS),39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+,1930,1938,AUS
65,DR Jardine (ENG),22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0,1928,1934,ENG

In [31]:
df["Highest_Inns_Score"].astype('int')

0     334
1     269
2     274
3     270
5     194
     ...
61    250
62    277
63    266
64    232
65    127
Name: Highest_Inns_Score, Length: 62, dtype: int64

In [32]:
df["Balls_Faced"] = df["Balls_Faced"].str.split(pat = "+").str[0]

In [33]:
df

,Player,Matched_Played,Inns,No_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Country_Or_State
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800,58.60,29,13,7,626+,6,1928,1948,AUS
1,AC Voges (AUS),20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
2,RG Pollock (SA),23,41,4,2256,274,60.97,1707,54.48,7,11,1,246+,11,1963,1970,SA
3,GA Headley (WI),22,40,4,2190,270,60.83,416,56.00,10,5,2,104+,1,1930,1954,WI
5,H Sutcliffe (ENG),54,84,9,4555,194,60.73,6558,34.59,16,23,2,202+,6,1924,1935,ENG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,KD Walters (AUS),74,125,14,5357,250,48.26,8662,49.16,15,33,4,525+,23,1965,1981,AUS
62,GC Smith (ICC/SA),117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,NaN
63,WH Ponsford (AUS),29,48,4,2122,266,48.22,3118,44.77,7,6,1,119+,0,1924,1934,AUS
64,SJ McCabe (AUS),39,62,5,2748,232,48.21,3217,60.02,6,13,4,241+,5+,1930,1938,AUS
65,DR Jardine (ENG),22,33,6,1296,127,48.00,2110,25.59,1,10,2,53+,0,1928,1934,ENG

In [34]:
df = df.astype({"Rookie_Year": "int", "Final_Year": "int"})

In [35]:
df.dtypes

Player                  object
Matched_Played           int64
Inns                     int64
No_Outs                  int64
Runs                     int64
Highest_Inns_Score      object
Ave                    float64
Balls_Faced             object
Batting_Strike_Rate    float64
100                      int64
50                       int64
0                        int64
4s                      object
6s                      object
Rookie_Year              int64
Final_Year               int64
Country_Or_State        object
dtype: object

In [37]:
df["Matched_Played"].astype('int')

0      52
1      20
2      23
3      22
5      54
     ...
61     74
62    117
63     29
64     39
65     22
Name: Matched_Played, Length: 62, dtype: int64

In [38]:
df["Highest_Inns_Score"].astype('int')

0     334
1     269
2     274
3     270
5     194
     ...
61    250
62    277
63    266
64    232
65    127
Name: Highest_Inns_Score, Length: 62, dtype: int64

In [39]:
df.dtypes

Player                  object
Matched_Played           int64
Inns                     int64
No_Outs                  int64
Runs                     int64
Highest_Inns_Score      object
Ave                    float64
Balls_Faced             object
Batting_Strike_Rate    float64
100                      int64
50                       int64
0                        int64
4s                      object
6s                      object
Rookie_Year              int64
Final_Year               int64
Country_Or_State        object
dtype: object

In [41]:
df.isnull().any()

Player                 False
Matched_Played         False
Inns                   False
No_Outs                False
Runs                   False
Highest_Inns_Score     False
Ave                    False
Balls_Faced             True
Batting_Strike_Rate    False
100                    False
50                     False
0                      False
4s                     False
6s                     False
Rookie_Year            False
Final_Year             False
Country_Or_State        True
dtype: bool

In [42]:
df[df["Balls_Faced"].isna() == 1]

,Player,Matched_Played,Inns,No_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Country_Or_State
9,ED Weekes (WI),48,81,5,4455,207,58.61,NaN,0.0,15,19,6,258+,2,1948,1958,WI
17,CL Walcott (WI),44,74,7,3798,220,56.68,NaN,0.0,15,14,1,107+,11,1948,1960,WI

In [43]:
df["Balls_Faced"] = df["Balls_Faced"].fillna(0)

In [44]:
df[df["Balls_Faced"].isna() == 1]

Empty DataFrame
Columns: [Player, Matched_Played, Inns, No_Outs, Runs, Highest_Inns_Score, Ave, Balls_Faced, Batting_Strike_Rate, 100, 50, 0, 4s, 6s, Rookie_Year, Final_Year, Country_Or_State]
Index: []

In [45]:
df["Balls_Faced"].astype("int")

ValueError: invalid literal for int() with base 10: '-'

In [51]:
pd.set_option("display.max_rows", None)

In [52]:
df

,Player,Matched_Played,Inns,No_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Country_Or_State
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800,58.60,29,13,7,626+,6,1928,1948,AUS
1,AC Voges (AUS),20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
2,RG Pollock (SA),23,41,4,2256,274,60.97,1707,54.48,7,11,1,246+,11,1963,1970,SA
3,GA Headley (WI),22,40,4,2190,270,60.83,416,56.00,10,5,2,104+,1,1930,1954,WI
5,H Sutcliffe (ENG),54,84,9,4555,194,60.73,6558,34.59,16,23,2,202+,6,1924,1935,ENG
6,HC Brook (ENG),15,24,1,1378,186,59.91,1520,90.65,5,8,1,164,25,2022,2024,ENG
7,E Paynter (ENG),20,31,5,1540,243,59.23,1288,45.88,4,7,3,125+,4,1931,1939,ENG
8,KF Barrington (ENG),82,131,15,6806,256,58.67,4957,42.42,20,35,5,591+,27,1955,1968,ENG
9,ED Weekes (WI),48,81,5,4455,207,58.61,0,0.00,15,19,6,258+,2,1948,1958,WI
10,WR Hammond (ENG),85,140,16,7249,336,58.45,7491,38.07,22,24,4,419+,27,1927,1947,ENG
11,GS Sobers (WI),93,160,21,8032,365,57.78,4063,53.58,26,30,12,593+,32+,1954,1974,WI
13,KC Sangakkara (SL),134,233,17,12400,319,57.40,22882,54.19,38,52,11,1491,51,2000,2015,SL
14,SPD Smith (AUS),109,195,25,9685,239,56.97,18100,53.50,32,41,10,1063,54,2010,2024,AUS
15,JB Hobbs (ENG),61,102,7,5410,211,56.94,5363,46.22,15,28,4,276+,8,1908,1930,ENG
17,CL Walcott (WI),44,74,7,3798,220,56.68,0,0.00,15,14,1,107+,11,1948,1960,WI
18,L Hutton (ENG),79,138,15,6971,364,56.67,2844,39.34,19,33,5,358+,7,1937,1955,ENG
19,JH Kallis (ICC/SA),166,280,40,13289,224,55.37,28903,45.97,45,58,16,1488,97,1995,2013,NaN
20,GE Tyldesley (ENG),14,20,2,990,122,55.00,178,29.21,3,6,2,37+,2,1921,1929,ENG
21,KS Williamson (NZ),100,176,17,8743,251,54.98,17006,51.41,32,34,11,971,24,2010,2024,NZ
22,CA Davis (WI),15,29,5,1301,183,54.20,665,35.48,4,4,1,65+,1,1968,1973,WI
23,VG Kambli (IND),17,21,1,1084,227,54.20,1823,59.46,4,3,3,124,6,1993,1995,IND
24,GS Chappell (AUS),87,151,19,7110,247,53.86,13079,51.53,24,31,12,755,16,1970,1984,AUS
25,AD Nourse (SA),34,62,7,2960,231,53.81,108,63.88,9,14,3,115+,6,1935,1951,SA
26,SR Tendulkar (IND),200,329,33,15921,248,53.78,29437,54.04,51,68,14,2058+,69,1989,2013,IND
27,BC Lara (ICC/WI),131,232,6,11953,400,52.88,19753,60.51,34,48,17,1559,88,1990,2006,NaN
28,Javed Miandad (PAK),124,189,21,8832,280,52.57,15164,45.99,23,43,6,788+,48,1976,1993,PAK
29,R Dravid (ICC/IND),164,286,32,13288,270,52.31,31258,42.51,36,63,8,1654,21,1996,2012,NaN
30,Mohammad Yousuf (PAK),90,156,12,7530,223,52.29,14372,52.39,24,33,11,957,51,1998,2010,PAK
31,Younis Khan (PAK),118,213,19,10099,313,52.05,19375,52.12,34,33,19,1082,70,2000,2017,PAK
32,RT Ponting (AUS),168,287,29,13378,257,51.85,22782,58.72,41,62,17,1509,73,1995,2012,AUS
33,J Ryder (AUS),20,32,5,1394,201,51.62,2035,44.86,3,9,1,102+,3,1920,1929,AUS
34,A Flower (ZIM),63,112,19,4794,232,51.54,10636,45.07,12,27,5,543,20,1992,2002,ZIM
35,MEK Hussey (AUS),79,137,16,6235,195,51.52,12436,50.13,19,29,12,685,39,2005,2013,AUS
36,S Chanderpaul (WI),164,280,49,11867,203,51.37,27395,43.31,30,66,15,1285,36,1994,2015,WI
37,SM Gavaskar (IND),125,214,16,10122,236,51.12,14184,43.35,34,45,12,908+,26,1971,1987,IND
38,SR Waugh (AUS),168,260,46,10927,200,51.06,22461,48.64,32,50,22,1175,20,1985,2004,AUS
39,ML Hayden (AUS),103,184,14,8625,380,50.73,14349,60.10,30,29,14,1049,82,1994,2009,AUS
40,AB de Villiers (SA),114,191,18,8765,278,50.66,16077,54.51,22,46,8,1024,64,2004,2018,SA
41,AR Border (AUS),156,265,44,11174,205,50.56,27002,41.09,27,63,11,1161,28,1978,1994,AUS
42,DJ Mitchell (NZ),23,37,5,1608,190,50.25,3014,53.35,5,10,1,158,29,2019,2024,NZ
43,IVA Richards (WI),121,182,12,8540,291,50.23,9613,69.77,24,45,10,952+,84,1974,1991,WI
44,JE Root (ENG),143,261,21,12027,254,50.11,21207,56.71,32,63,12,1306,44,2012,2024,ENG
45,DCS Compton (ENG),78,131,15,5807,278,50.06,2731,38.81,17,28,10,342+,3,1937,1957,ENG
46,DPMD Jayawardene (SL),149,252,15,11814,374,49.84,22959,51.45,34,50,15,1387,61,1997,2014,SL
47,Inzamam-ul-Haq (ICC/PAK),120,200,22,8830,329,49.60,16345,54.02,25,46,15,1105,48,1992,2007,NaN
48,M Labuschagne (AUS),50,90,7,4114,215,49.56,7809,52.68,11,20,4,463,12,2018,2024,AUS
49,FMM Worrell (WI),51,87,9,3860,261,49.48,488,40.16,9,22,11,240+,11,1948,1963,WI
50,CP Mead (ENG),17,26,2,1185,182,49.37,619,30.04,4,3,3,38+,0,1911,1928,ENG
51,V Sehwag (ICC/IND),104,180,6,8586,319,49.34,10441,82.23,23,32,16,1233,91,2001,2013,NaN
52,Abid Ali (PAK),16,26,2,1180,215,49.16,2445,48.26,4,3,2,148,5,2019,2021,PAK
53,V Kohli (IND),113,191,11,8848,254,49.15,15924,55.56,29,30,14,991,26,2011,2024,IND
55,MJ Clarke (AUS),115,198,22,8643,329,49.10,15456,55.92,28,27,9,978,39,2004,2015,AUS
56,KC Bland (SA),21,39,5,1669,144,49.08,885,37.74,3,9,2,123+,20,1961,1966,SA
57,B Mitchell (SA),42,80,9,3471,189,48.88,158,29.11,8,21,3,41+,1,1929,1949,SA
58,Hon.FS Jackson (ENG),20,33,4,1415,144,48.79,-,0.00,5,6,3,51+,0,1893,1905,ENG
59,TT Samaraweera (SL),81,132,20,5462,231,48.76,11641,46.92,14,30,11,633,7,2001,2013,SL
60,RN Harvey (AUS),79,137,10,6149,205,48.41,1799,43.74,21,24,7,427+,1,1948,1963,AUS
61,KD Walters (AUS),74,125,14,5357,250,48.26,8662,49.16,15,33,4,525+,23,1965,1981,AUS
62,GC Smith (ICC/SA),117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,NaN
63,WH Ponsford (AUS),29,48,4,2122,266,48.22,3118,44.77,7,6,1,119+,0,1924,1934,AUS
64,SJ McCabe (AUS),39,62,5,2748,232,48.21,3217,60.02,6,13,4,241+,5+,1930,1938,AUS
65,DR Jardine (ENG),22,33,6,1296,127,48.00,2110,25.59,1,10,2,53+,0,1928,1934,ENG

In [58]:
df = df.drop(58, axis = 0)

In [59]:
df["Balls_Faced"] = df["Balls_Faced"].astype("int")

In [55]:
df.isnull().any()

Player                 False
Matched_Played         False
Inns                   False
No_Outs                False
Runs                   False
Highest_Inns_Score     False
Ave                    False
Balls_Faced            False
Batting_Strike_Rate    False
100                    False
50                     False
0                      False
4s                     False
6s                     False
Rookie_Year            False
Final_Year             False
Country_Or_State        True
dtype: bool

In [61]:
df.dtypes

Player                  object
Matched_Played           int64
Inns                     int64
No_Outs                  int64
Runs                     int64
Highest_Inns_Score      object
Ave                    float64
Balls_Faced              int64
Batting_Strike_Rate    float64
100                      int64
50                       int64
0                        int64
4s                      object
6s                      object
Rookie_Year              int64
Final_Year               int64
Country_Or_State        object
dtype: object

In [62]:
df["Career_Length"] = df["Final_Year"] - df["Rookie_Year"]

In [64]:
df.dtypes

Player                  object
Matched_Played           int64
Inns                     int64
No_Outs                  int64
Runs                     int64
Highest_Inns_Score      object
Ave                    float64
Balls_Faced              int64
Batting_Strike_Rate    float64
100                      int64
50                       int64
0                        int64
4s                      object
6s                      object
Rookie_Year              int64
Final_Year               int64
Country_Or_State        object
Career_Length            int64
dtype: object

In [65]:
df

,Player,Matched_Played,Inns,No_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Country_Or_State,Career_Length
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800,58.60,29,13,7,626+,6,1928,1948,AUS,20
1,AC Voges (AUS),20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS,1
2,RG Pollock (SA),23,41,4,2256,274,60.97,1707,54.48,7,11,1,246+,11,1963,1970,SA,7
3,GA Headley (WI),22,40,4,2190,270,60.83,416,56.00,10,5,2,104+,1,1930,1954,WI,24
5,H Sutcliffe (ENG),54,84,9,4555,194,60.73,6558,34.59,16,23,2,202+,6,1924,1935,ENG,11
6,HC Brook (ENG),15,24,1,1378,186,59.91,1520,90.65,5,8,1,164,25,2022,2024,ENG,2
7,E Paynter (ENG),20,31,5,1540,243,59.23,1288,45.88,4,7,3,125+,4,1931,1939,ENG,8
8,KF Barrington (ENG),82,131,15,6806,256,58.67,4957,42.42,20,35,5,591+,27,1955,1968,ENG,13
9,ED Weekes (WI),48,81,5,4455,207,58.61,0,0.00,15,19,6,258+,2,1948,1958,WI,10
10,WR Hammond (ENG),85,140,16,7249,336,58.45,7491,38.07,22,24,4,419+,27,1927,1947,ENG,20
11,GS Sobers (WI),93,160,21,8032,365,57.78,4063,53.58,26,30,12,593+,32+,1954,1974,WI,20
13,KC Sangakkara (SL),134,233,17,12400,319,57.40,22882,54.19,38,52,11,1491,51,2000,2015,SL,15
14,SPD Smith (AUS),109,195,25,9685,239,56.97,18100,53.50,32,41,10,1063,54,2010,2024,AUS,14
15,JB Hobbs (ENG),61,102,7,5410,211,56.94,5363,46.22,15,28,4,276+,8,1908,1930,ENG,22
17,CL Walcott (WI),44,74,7,3798,220,56.68,0,0.00,15,14,1,107+,11,1948,1960,WI,12
18,L Hutton (ENG),79,138,15,6971,364,56.67,2844,39.34,19,33,5,358+,7,1937,1955,ENG,18
19,JH Kallis (ICC/SA),166,280,40,13289,224,55.37,28903,45.97,45,58,16,1488,97,1995,2013,NaN,18
20,GE Tyldesley (ENG),14,20,2,990,122,55.00,178,29.21,3,6,2,37+,2,1921,1929,ENG,8
21,KS Williamson (NZ),100,176,17,8743,251,54.98,17006,51.41,32,34,11,971,24,2010,2024,NZ,14
22,CA Davis (WI),15,29,5,1301,183,54.20,665,35.48,4,4,1,65+,1,1968,1973,WI,5
23,VG Kambli (IND),17,21,1,1084,227,54.20,1823,59.46,4,3,3,124,6,1993,1995,IND,2
24,GS Chappell (AUS),87,151,19,7110,247,53.86,13079,51.53,24,31,12,755,16,1970,1984,AUS,14
25,AD Nourse (SA),34,62,7,2960,231,53.81,108,63.88,9,14,3,115+,6,1935,1951,SA,16
26,SR Tendulkar (IND),200,329,33,15921,248,53.78,29437,54.04,51,68,14,2058+,69,1989,2013,IND,24
27,BC Lara (ICC/WI),131,232,6,11953,400,52.88,19753,60.51,34,48,17,1559,88,1990,2006,NaN,16
28,Javed Miandad (PAK),124,189,21,8832,280,52.57,15164,45.99,23,43,6,788+,48,1976,1993,PAK,17
29,R Dravid (ICC/IND),164,286,32,13288,270,52.31,31258,42.51,36,63,8,1654,21,1996,2012,NaN,16
30,Mohammad Yousuf (PAK),90,156,12,7530,223,52.29,14372,52.39,24,33,11,957,51,1998,2010,PAK,12
31,Younis Khan (PAK),118,213,19,10099,313,52.05,19375,52.12,34,33,19,1082,70,2000,2017,PAK,17
32,RT Ponting (AUS),168,287,29,13378,257,51.85,22782,58.72,41,62,17,1509,73,1995,2012,AUS,17
33,J Ryder (AUS),20,32,5,1394,201,51.62,2035,44.86,3,9,1,102+,3,1920,1929,AUS,9
34,A Flower (ZIM),63,112,19,4794,232,51.54,10636,45.07,12,27,5,543,20,1992,2002,ZIM,10
35,MEK Hussey (AUS),79,137,16,6235,195,51.52,12436,50.13,19,29,12,685,39,2005,2013,AUS,8
36,S Chanderpaul (WI),164,280,49,11867,203,51.37,27395,43.31,30,66,15,1285,36,1994,2015,WI,21
37,SM Gavaskar (IND),125,214,16,10122,236,51.12,14184,43.35,34,45,12,908+,26,1971,1987,IND,16
38,SR Waugh (AUS),168,260,46,10927,200,51.06,22461,48.64,32,50,22,1175,20,1985,2004,AUS,19
39,ML Hayden (AUS),103,184,14,8625,380,50.73,14349,60.10,30,29,14,1049,82,1994,2009,AUS,15
40,AB de Villiers (SA),114,191,18,8765,278,50.66,16077,54.51,22,46,8,1024,64,2004,2018,SA,14
41,AR Border (AUS),156,265,44,11174,205,50.56,27002,41.09,27,63,11,1161,28,1978,1994,AUS,16
42,DJ Mitchell (NZ),23,37,5,1608,190,50.25,3014,53.35,5,10,1,158,29,2019,2024,NZ,5
43,IVA Richards (WI),121,182,12,8540,291,50.23,9613,69.77,24,45,10,952+,84,1974,1991,WI,17
44,JE Root (ENG),143,261,21,12027,254,50.11,21207,56.71,32,63,12,1306,44,2012,2024,ENG,12
45,DCS Compton (ENG),78,131,15,5807,278,50.06,2731,38.81,17,28,10,342+,3,1937,1957,ENG,20
46,DPMD Jayawardene (SL),149,252,15,11814,374,49.84,22959,51.45,34,50,15,1387,61,1997,2014,SL,17
47,Inzamam-ul-Haq (ICC/PAK),120,200,22,8830,329,49.60,16345,54.02,25,46,15,1105,48,1992,2007,NaN,15
48,M Labuschagne (AUS),50,90,7,4114,215,49.56,7809,52.68,11,20,4,463,12,2018,2024,AUS,6
49,FMM Worrell (WI),51,87,9,3860,261,49.48,488,40.16,9,22,11,240+,11,1948,1963,WI,15
50,CP Mead (ENG),17,26,2,1185,182,49.37,619,30.04,4,3,3,38+,0,1911,1928,ENG,17
51,V Sehwag (ICC/IND),104,180,6,8586,319,49.34,10441,82.23,23,32,16,1233,91,2001,2013,NaN,12
52,Abid Ali (PAK),16,26,2,1180,215,49.16,2445,48.26,4,3,2,148,5,2019,2021,PAK,2
53,V Kohli (IND),113,191,11,8848,254,49.15,15924,55.56,29,30,14,991,26,2011,2024,IND,13
55,MJ Clarke (AUS),115,198,22,8643,329,49.10,15456,55.92,28,27,9,978,39,2004,2015,AUS,11
56,KC Bland (SA),21,39,5,1669,144,49.08,885,37.74,3,9,2,123+,20,1961,1966,SA,5
57,B Mitchell (SA),42,80,9,3471,189,48.88,158,29.11,8,21,3,41+,1,1929,1949,SA,20
59,TT Samaraweera (SL),81,132,20,5462,231,48.76,11641,46.92,14,30,11,633,7,2001,2013,SL,12
60,RN Harvey (AUS),79,137,10,6149,205,48.41,1799,43.74,21,24,7,427+,1,1948,1963,AUS,15
61,KD Walters (AUS),74,125,14,5357,250,48.26,8662,49.16,15,33,4,525+,23,1965,1981,AUS,16
62,GC Smith (ICC/SA),117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,NaN,12
63,WH Ponsford (AUS),29,48,4,2122,266,48.22,3118,44.77,7,6,1,119+,0,1924,1934,AUS,10
64,SJ McCabe (AUS),39,62,5,2748,232,48.21,3217,60.02,6,13,4,241+,5+,1930,1938,AUS,8
65,DR Jardine (ENG),22,33,6,1296,127,48.00,2110,25.59,1,10,2,53+,0,1928,1934,ENG,6

In [66]:
df["Career_Length"].mean()

np.float64(13.229508196721312)

In [76]:
#show the average for every cricket players average batting strike rate
df[df["Career_Length"] > 10]["Batting_Strike_Rate"]

0     58.60
3     56.00
5     34.59
8     42.42
10    38.07
11    53.58
13    54.19
14    53.50
15    46.22
17     0.00
18    39.34
19    45.97
21    51.41
24    51.53
25    63.88
26    54.04
27    60.51
28    45.99
29    42.51
30    52.39
31    52.12
32    58.72
36    43.31
37    43.35
38    48.64
39    60.10
40    54.51
41    41.09
43    69.77
44    56.71
45    38.81
46    51.45
47    54.02
49    40.16
50    30.04
51    82.23
53    55.56
55    55.92
57    29.11
59    46.92
60    43.74
61    49.16
62    59.67
Name: Batting_Strike_Rate, dtype: float64

In [78]:
#get the average of career length that is more than 10 years and the total batting strike rate
df[df["Career_Length"] > 10]["Batting_Strike_Rate"].mean()

np.float64(49.06627906976744)

In [79]:
#find number of cricket player who play before 1960

In [80]:
df[df["Rookie_Year"] < 1960]

,Player,Matched_Played,Inns,No_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Country_Or_State,Career_Length
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800,58.60,29,13,7,626+,6,1928,1948,AUS,20
3,GA Headley (WI),22,40,4,2190,270,60.83,416,56.00,10,5,2,104+,1,1930,1954,WI,24
5,H Sutcliffe (ENG),54,84,9,4555,194,60.73,6558,34.59,16,23,2,202+,6,1924,1935,ENG,11
7,E Paynter (ENG),20,31,5,1540,243,59.23,1288,45.88,4,7,3,125+,4,1931,1939,ENG,8
8,KF Barrington (ENG),82,131,15,6806,256,58.67,4957,42.42,20,35,5,591+,27,1955,1968,ENG,13
9,ED Weekes (WI),48,81,5,4455,207,58.61,0,0.00,15,19,6,258+,2,1948,1958,WI,10
10,WR Hammond (ENG),85,140,16,7249,336,58.45,7491,38.07,22,24,4,419+,27,1927,1947,ENG,20
11,GS Sobers (WI),93,160,21,8032,365,57.78,4063,53.58,26,30,12,593+,32+,1954,1974,WI,20
15,JB Hobbs (ENG),61,102,7,5410,211,56.94,5363,46.22,15,28,4,276+,8,1908,1930,ENG,22
17,CL Walcott (WI),44,74,7,3798,220,56.68,0,0.00,15,14,1,107+,11,1948,1960,WI,12
18,L Hutton (ENG),79,138,15,6971,364,56.67,2844,39.34,19,33,5,358+,7,1937,1955,ENG,18
20,GE Tyldesley (ENG),14,20,2,990,122,55.00,178,29.21,3,6,2,37+,2,1921,1929,ENG,8
25,AD Nourse (SA),34,62,7,2960,231,53.81,108,63.88,9,14,3,115+,6,1935,1951,SA,16
33,J Ryder (AUS),20,32,5,1394,201,51.62,2035,44.86,3,9,1,102+,3,1920,1929,AUS,9
45,DCS Compton (ENG),78,131,15,5807,278,50.06,2731,38.81,17,28,10,342+,3,1937,1957,ENG,20
49,FMM Worrell (WI),51,87,9,3860,261,49.48,488,40.16,9,22,11,240+,11,1948,1963,WI,15
50,CP Mead (ENG),17,26,2,1185,182,49.37,619,30.04,4,3,3,38+,0,1911,1928,ENG,17
57,B Mitchell (SA),42,80,9,3471,189,48.88,158,29.11,8,21,3,41+,1,1929,1949,SA,20
60,RN Harvey (AUS),79,137,10,6149,205,48.41,1799,43.74,21,24,7,427+,1,1948,1963,AUS,15
63,WH Ponsford (AUS),29,48,4,2122,266,48.22,3118,44.77,7,6,1,119+,0,1924,1934,AUS,10
64,SJ McCabe (AUS),39,62,5,2748,232,48.21,3217,60.02,6,13,4,241+,5+,1930,1938,AUS,8
65,DR Jardine (ENG),22,33,6,1296,127,48.00,2110,25.59,1,10,2,53+,0,1928,1934,ENG,6

In [83]:
df

,Player,Matched_Played,Inns,No_Outs,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Country_Or_State,Career_Length
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800,58.60,29,13,7,626+,6,1928,1948,AUS,20
1,AC Voges (AUS),20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS,1
2,RG Pollock (SA),23,41,4,2256,274,60.97,1707,54.48,7,11,1,246+,11,1963,1970,SA,7
3,GA Headley (WI),22,40,4,2190,270,60.83,416,56.00,10,5,2,104+,1,1930,1954,WI,24
5,H Sutcliffe (ENG),54,84,9,4555,194,60.73,6558,34.59,16,23,2,202+,6,1924,1935,ENG,11
6,HC Brook (ENG),15,24,1,1378,186,59.91,1520,90.65,5,8,1,164,25,2022,2024,ENG,2
7,E Paynter (ENG),20,31,5,1540,243,59.23,1288,45.88,4,7,3,125+,4,1931,1939,ENG,8
8,KF Barrington (ENG),82,131,15,6806,256,58.67,4957,42.42,20,35,5,591+,27,1955,1968,ENG,13
9,ED Weekes (WI),48,81,5,4455,207,58.61,0,0.00,15,19,6,258+,2,1948,1958,WI,10
10,WR Hammond (ENG),85,140,16,7249,336,58.45,7491,38.07,22,24,4,419+,27,1927,1947,ENG,20
11,GS Sobers (WI),93,160,21,8032,365,57.78,4063,53.58,26,30,12,593+,32+,1954,1974,WI,20
13,KC Sangakkara (SL),134,233,17,12400,319,57.40,22882,54.19,38,52,11,1491,51,2000,2015,SL,15
14,SPD Smith (AUS),109,195,25,9685,239,56.97,18100,53.50,32,41,10,1063,54,2010,2024,AUS,14
15,JB Hobbs (ENG),61,102,7,5410,211,56.94,5363,46.22,15,28,4,276+,8,1908,1930,ENG,22
17,CL Walcott (WI),44,74,7,3798,220,56.68,0,0.00,15,14,1,107+,11,1948,1960,WI,12
18,L Hutton (ENG),79,138,15,6971,364,56.67,2844,39.34,19,33,5,358+,7,1937,1955,ENG,18
19,JH Kallis (ICC/SA),166,280,40,13289,224,55.37,28903,45.97,45,58,16,1488,97,1995,2013,NaN,18
20,GE Tyldesley (ENG),14,20,2,990,122,55.00,178,29.21,3,6,2,37+,2,1921,1929,ENG,8
21,KS Williamson (NZ),100,176,17,8743,251,54.98,17006,51.41,32,34,11,971,24,2010,2024,NZ,14
22,CA Davis (WI),15,29,5,1301,183,54.20,665,35.48,4,4,1,65+,1,1968,1973,WI,5
23,VG Kambli (IND),17,21,1,1084,227,54.20,1823,59.46,4,3,3,124,6,1993,1995,IND,2
24,GS Chappell (AUS),87,151,19,7110,247,53.86,13079,51.53,24,31,12,755,16,1970,1984,AUS,14
25,AD Nourse (SA),34,62,7,2960,231,53.81,108,63.88,9,14,3,115+,6,1935,1951,SA,16
26,SR Tendulkar (IND),200,329,33,15921,248,53.78,29437,54.04,51,68,14,2058+,69,1989,2013,IND,24
27,BC Lara (ICC/WI),131,232,6,11953,400,52.88,19753,60.51,34,48,17,1559,88,1990,2006,NaN,16
28,Javed Miandad (PAK),124,189,21,8832,280,52.57,15164,45.99,23,43,6,788+,48,1976,1993,PAK,17
29,R Dravid (ICC/IND),164,286,32,13288,270,52.31,31258,42.51,36,63,8,1654,21,1996,2012,NaN,16
30,Mohammad Yousuf (PAK),90,156,12,7530,223,52.29,14372,52.39,24,33,11,957,51,1998,2010,PAK,12
31,Younis Khan (PAK),118,213,19,10099,313,52.05,19375,52.12,34,33,19,1082,70,2000,2017,PAK,17
32,RT Ponting (AUS),168,287,29,13378,257,51.85,22782,58.72,41,62,17,1509,73,1995,2012,AUS,17
33,J Ryder (AUS),20,32,5,1394,201,51.62,2035,44.86,3,9,1,102+,3,1920,1929,AUS,9
34,A Flower (ZIM),63,112,19,4794,232,51.54,10636,45.07,12,27,5,543,20,1992,2002,ZIM,10
35,MEK Hussey (AUS),79,137,16,6235,195,51.52,12436,50.13,19,29,12,685,39,2005,2013,AUS,8
36,S Chanderpaul (WI),164,280,49,11867,203,51.37,27395,43.31,30,66,15,1285,36,1994,2015,WI,21
37,SM Gavaskar (IND),125,214,16,10122,236,51.12,14184,43.35,34,45,12,908+,26,1971,1987,IND,16
38,SR Waugh (AUS),168,260,46,10927,200,51.06,22461,48.64,32,50,22,1175,20,1985,2004,AUS,19
39,ML Hayden (AUS),103,184,14,8625,380,50.73,14349,60.10,30,29,14,1049,82,1994,2009,AUS,15
40,AB de Villiers (SA),114,191,18,8765,278,50.66,16077,54.51,22,46,8,1024,64,2004,2018,SA,14
41,AR Border (AUS),156,265,44,11174,205,50.56,27002,41.09,27,63,11,1161,28,1978,1994,AUS,16
42,DJ Mitchell (NZ),23,37,5,1608,190,50.25,3014,53.35,5,10,1,158,29,2019,2024,NZ,5
43,IVA Richards (WI),121,182,12,8540,291,50.23,9613,69.77,24,45,10,952+,84,1974,1991,WI,17
44,JE Root (ENG),143,261,21,12027,254,50.11,21207,56.71,32,63,12,1306,44,2012,2024,ENG,12
45,DCS Compton (ENG),78,131,15,5807,278,50.06,2731,38.81,17,28,10,342+,3,1937,1957,ENG,20
46,DPMD Jayawardene (SL),149,252,15,11814,374,49.84,22959,51.45,34,50,15,1387,61,1997,2014,SL,17
47,Inzamam-ul-Haq (ICC/PAK),120,200,22,8830,329,49.60,16345,54.02,25,46,15,1105,48,1992,2007,NaN,15
48,M Labuschagne (AUS),50,90,7,4114,215,49.56,7809,52.68,11,20,4,463,12,2018,2024,AUS,6
49,FMM Worrell (WI),51,87,9,3860,261,49.48,488,40.16,9,22,11,240+,11,1948,1963,WI,15
50,CP Mead (ENG),17,26,2,1185,182,49.37,619,30.04,4,3,3,38+,0,1911,1928,ENG,17
51,V Sehwag (ICC/IND),104,180,6,8586,319,49.34,10441,82.23,23,32,16,1233,91,2001,2013,NaN,12
52,Abid Ali (PAK),16,26,2,1180,215,49.16,2445,48.26,4,3,2,148,5,2019,2021,PAK,2
53,V Kohli (IND),113,191,11,8848,254,49.15,15924,55.56,29,30,14,991,26,2011,2024,IND,13
55,MJ Clarke (AUS),115,198,22,8643,329,49.10,15456,55.92,28,27,9,978,39,2004,2015,AUS,11
56,KC Bland (SA),21,39,5,1669,144,49.08,885,37.74,3,9,2,123+,20,1961,1966,SA,5
57,B Mitchell (SA),42,80,9,3471,189,48.88,158,29.11,8,21,3,41+,1,1929,1949,SA,20
59,TT Samaraweera (SL),81,132,20,5462,231,48.76,11641,46.92,14,30,11,633,7,2001,2013,SL,12
60,RN Harvey (AUS),79,137,10,6149,205,48.41,1799,43.74,21,24,7,427+,1,1948,1963,AUS,15
61,KD Walters (AUS),74,125,14,5357,250,48.26,8662,49.16,15,33,4,525+,23,1965,1981,AUS,16
62,GC Smith (ICC/SA),117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,NaN,12
63,WH Ponsford (AUS),29,48,4,2122,266,48.22,3118,44.77,7,6,1,119+,0,1924,1934,AUS,10
64,SJ McCabe (AUS),39,62,5,2748,232,48.21,3217,60.02,6,13,4,241+,5+,1930,1938,AUS,8
65,DR Jardine (ENG),22,33,6,1296,127,48.00,2110,25.59,1,10,2,53+,0,1928,1934,ENG,6

In [86]:
df.groupby("Country_Or_State")["Highest_Inns_Score"].max().to_frame("HighInnCountry").reset_index().sort_values("HighInnCountry", ascending = False)

  Country_Or_State HighInnCountry
0              AUS            380
6               SL            374
7               WI            365
1              ENG            364
4              PAK            313
5               SA            278
2              IND            254
3               NZ            251
8              ZIM            232

In [87]:
df.groupby("Country_Or_State")[["100", "50", "0"]].mean()

                        100         50          0
Country_Or_State
AUS               20.625000  28.375000   8.562500
ENG               13.166667  22.333333   4.416667
IND               29.500000  36.500000  10.750000
NZ                18.500000  22.000000   6.000000
PAK               21.250000  28.000000   9.500000
SA                 9.800000  20.200000   3.400000
SL                28.666667  44.000000  12.333333
WI                16.625000  25.625000   7.250000
ZIM               12.000000  27.000000   5.000000